html,body{height:100%;margin:0px;padding:0px;}

/*
---Colour Variables---
*/

:root{
    --main-bg-colour:#7FCFF7;
    --navbar-bg-colour:#8C8C8C;
    --lb-bg-colour: white;
    /*Timer arc and handle colours on index.html lines 30 and 31*/
}

/*
---Navbar---
*/

#navbar{
    height: 100%;
    max-width:fit-content;
    padding:10px;
    flex: 0 0 100%;
    background-color:var(--navbar-bg-colour);
    text-align: center;
}

#submit-div {
    display: grid;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;

    position: relative;
    top: 100%;
    transform: translateY(-147%);

    transition: opacity 1s;
}
#submit-div *{
    margin: 5px 0 5px 0;
    padding: 5 0 0 0;;
}

/*
---Leaderboard---
*/

#leaderboard{
    width: 80%;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background-color: var(--lb-bg-colour);
    text-align: center;
    z-index: 99; /*Appears ontop of everything*/
    transition: opacity 0.4s;
}

#table-scroll {
    height:fit-content;
    max-height: 600px;
    overflow:auto;  
    margin-top:20px;
}

#leaderboard table{
    overflow: hidden;
}

#leaderboard table *{
    text-align: center;
}


/*
--- Content Area ---
*/

#content{
    height:100%;
    width:100%;
    flex: 1;
    background-color: var(--main-bg-colour);
}

#clock{
    width:fit-content;
    height: fit-content;
    text-align: center;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#timer-div{
    display: inline-block;

}

#timer-label{
    position: relative;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%,-150%);
}

#below-timer{
    display: inline-block;
    padding: 10px;
}